.tbl.action {
    width: 100%;
    margin-bottom: 15px;
}

.tbl.action .tbl-cell {
    vertical-align: middle;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.tbl.action>.tbl-cell:last-child {
    text-align: right;
    width: 1%;
}

.tbl.action>.tbl-cell .input-group {
    float: right;
}

.tbl.action>.tbl-cell .input-group input[type=search] {
    max-width: 400px;
    min-width: 200px;
}

.img-list .img {
    position: relative;
    border: 1px solid #f2f2f2;
    transition: ease-in-out .3s
}

.img-list .img .icheckbox_minimal-grey {
    position: absolute;
    top: 2px;
    right: 2px;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out .3s
}

.img-list .img:hover .icheckbox_minimal-grey,
.img-list .img .icheckbox_minimal-grey.checked {
    visibility: visible;
    opacity: 1;
}

.img-list .img:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

.nav-tabs-vertical .nav-tabs>li>a {
    font-size: 12px;
    padding: 5px
}

.fallback {
    width: 100%;
    border: 2px dashed #D5D5D5;
    min-height: 360px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.03);
    padding: 14px;
    position: relative;
}

.fallback h2 {
    color: #666;
    font-style: italic;
    position: absolute;
    top: 30%;
    left: 0;
    text-align: center;
    width: 100%;
    font-family: monospace, sans-serif;
    opacity: 0.2;
    filter: alpha(opacity=20);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.fallback:hover h2 {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.fallback h2 .mat-icon {
    width: 164px;
    height: 150px;
    text-align: center;
    font-size: 150px;
    display: block;
    margin: 0 auto 15px;
    line-height: 150px;
    font-style: normal;
}

.isDragOver {
    cursor: copy !important;
    border-color: royalblue;
}

.uploaded-list.row {
    margin: 0 -7px;
}

.uploaded-list.row .col-6 {
    padding: 0 7px;
}

.uploaded-list .img {
    position: relative;
    margin-bottom: 15px;
    display: block;
    overflow: hidden;
}

.uploaded-list .img-cover {
    height: 200px;
    border-radius: 5px;
    position: relative;
}

.uploaded-list .img h3 {
    font-size: 10px;
    margin: 0;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uploaded-list .img .img-action {
    position: absolute;
    top: 3px;
    right: 3px;
}

.uploaded-list .img .img-action button {
    display: block;
    margin-bottom: 5px;
    transform: translateX(40px);
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out .3s
}

.uploaded-list .img .img-action button:nth-child(2) {
    transform: translateX(120px)
}

.uploaded-list .img:hover .img-action button {
    transform: none;
    visibility: visible;
    opacity: 1;
}

.btn-upload {
    position: relative;
}

.btn-upload input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    opacity: 0;
}
