<div app-type="element" *ngIf="component" class="widget-element {{isAttachEdit?'attach-edit':''}}" [id]="component.id" [ngSwitch]="component.type">
  <h1 app-type="h1" class="widget-content" *ngSwitchCase="componentType.H1" [ngStyle]="component.contentStyle"
    [innerHTML]="component.content"></h1>
  <h2 app-type="h2" class="widget-content" *ngSwitchCase="componentType.H2" [ngStyle]="component.contentStyle"
    [innerHTML]="component.content"></h2>
  <h3 app-type="h3" class="widget-content" *ngSwitchCase="componentType.H3" [ngStyle]="component.contentStyle"
    [innerHTML]="component.content"></h3>
  <h4 app-type="h4" class="widget-content" *ngSwitchCase="componentType.H4" [ngStyle]="component.contentStyle"
    [innerHTML]="component.content"></h4>
  <p app-type="p" class="widget-content" *ngSwitchCase="componentType.P" [ngStyle]="component.contentStyle"
    [innerHTML]="component.content"></p>
  <a app-type="button" class="widget-content" *ngSwitchCase="componentType.BUTTON" [ngStyle]="component.contentStyle"
    [innerHTML]="component.content"></a>
  <div app-type="hline" class="widget-content" *ngSwitchCase="componentType.HLINE">
    <div class="hline" [ngStyle]="component.contentStyle"></div>
  </div>
  <div app-type="vline" class="widget-content" *ngSwitchCase="componentType.VLINE">
    <div class="vline" [ngStyle]="component.contentStyle"></div>
  </div>
  <ul app-type="ul" class="widget-content" *ngSwitchCase="componentType.UL" [ngStyle]="component.contentStyle"
    [attr.data-order]="component.ulData.iconType" [attr.list-type]="component.ulData.type" [innerHTML]="component.content">
    <!-- <li *ngFor="let li of component.ulData.liItems">{{li.text}}</li> -->
  </ul>
  <div app-type="box" class="widget-content" *ngSwitchDefault [ngStyle]="component.contentStyle"></div>
</div>
<app-widget-edit-element [parent]="this" class="widget-edit"></app-widget-edit-element>
