* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-size: cover;
    background-origin: content-box;
    background-position: center center;
    background-repeat: no-repeat;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    cursor: pointer;
    text-decoration: none
}

:host {
    display: flex !important;
    width: 100%;
    cursor: all-scroll;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    z-index: 99;
}

:host.ui-draggable {
    z-index: 100;
    background-color: rgba(0, 0, 0, .1);
    outline: 1px solid #00e5ff !important;
}

:host.ui-resizable-disabled {
    background-color: transparent;
    outline: none !important;
    z-index: 99;
}
:host:hover{
  outline: 1px solid #00e5ff !important;
}
.widget-edit {
    position: absolute;
    right: 0;
    top: -38px;
    width: 100%;
    padding-bottom: 3px;
    text-align: right;
    display: block
}

:host.ui-resizable-disabled .widget-edit {
    display: none;
}

.widget-element {
    display: flex;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    position: relative;
}

.widget-content {
    cursor: all-scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    /* -webkit-box-align: center; */
    -ms-flex-align: center;
    /* align-items: center; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.attach-edit .widget-content {
    cursor: text;
}

.widget-content .hline {
    width: 100%;
    height: 1px;
}

.widget-content .vline {
    height: 100%;
    width: 1px;
    margin: 0 auto;
}

ul.widget-content {
    white-space: normal
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

h1 {
    font-size: 36px;
    line-height: 42px;
}

h2 {
    font-size: 30px;
    line-height: 36px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
}

h4 {
    font-size: 21px;
    line-height: 27px;
}

h5 {
    font-size: 18px;
    line-height: 24px;
}

h6 {
    font-size: 16px;
    line-height: 22px;
}


/* .resizable-element,
.resizable-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  margin: 0;
  z-index: 999;
  display: block;
  border: 1px dashed #000;
  cursor: all-scroll;
} */

.resizable-element *,
.resizable-popup * {
    user-select: none;
}

.resizable-element .ui-move-handle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 89;
}
