.edit-element ul {
    padding: 0;
    margin: 0;
    min-width: 175px
}

.edit-element ul li {
    list-style: none;
    float: none;
    display: inline-block;
    cursor: pointer;
    padding: 4px 0;
    text-align: center;
    vertical-align: middle;
    color: #061528
}

.edit-element ul li .svg-icons,
.edit-element ul li i{
    color: #061528;
    fill: #061528;
    line-height: 30px;
    font-size: 24px;
    display: inline-block
}

.edit-element ul li i.ion-pin{
    font-size: 20px;
    position: relative;
    top: 7px
}

.edit-element ul li i.ion-ios-trash-outline{
    position: relative;
    top: 3px
}

.edit-element ul li a{
    display: block;
    color: rgba(6, 21, 40, .6);
    background: #fafafa;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(6, 21, 40, .3);
    text-align: center;
    line-height: 30px
}

.edit-element ul li a svg{
    position: relative;
    top: 5px
}

.edit-element ul li a:hover{
    text-decoration: none
}

.edit-element ul li.contro-text a{
    width: auto;
    padding: 0 10px;
    border-radius: 100px
}
