.component-name {
    color: #979797;
    text-transform: uppercase;
    line-height: 18px;
    padding: 10px 15px;
    position: relative;
    letter-spacing: .5px;
    font-size: 13px;
    margin-bottom: 0;font-weight: bold
}

