<div id="setting-bar" *ngIf="cService.selectedComponent">
  <h2 class="component-name">#ID: HEADLINE230</h2>
  <mat-accordion>
    <mat-expansion-panel opened="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Thiết lập chữ</mat-panel-title>
      </mat-expansion-panel-header>
      <app-panel-character></app-panel-character>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tùy chỉnh tiêu đề
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-select placeholder="Kiểu tiêu đề">
          <mat-option *ngFor="let i of [1,2,3,4,5,6]">
            Tiêu đề {{i}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</div>
