@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,500i,700,700i&amp;subset=vietnamese");
@import url("assets/css/ionicons.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-blue,
600,
700,
800);
$accent: mat-palette($mat-orange,
600,
700,
800);
$theme: mat-light-theme($primary,
$accent);
@include angular-material-theme($theme);
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #1d1d1d;
    padding-bottom: 50px;
    overflow-x: hidden;
}

.mat-button {
    color: rgba(0, 0, 0, .5)
}

.mat-icon.rotate90 {
    transform: rotate(90deg);
    margin-top: -2px;
}

a,
button {
    outline: none !important;
    text-decoration: none !important
}

.mat-tooltip {
    white-space: nowrap;
}

.navbar-light .navbar-nav .nav-link.mat-primary {
    color: #fff;
}

.img-cover {
    display: block
}

.img-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

.img-list .img .icheckbox_minimal-grey {
    position: absolute;
    top: 2px;
    right: 2px;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out .3s;
    background-color: #fff
}

.img-list .img:hover .icheckbox_minimal-grey,
.img-list .img .icheckbox_minimal-grey.checked {
    visibility: visible;
    opacity: 1;
}

.img-list .img:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

.img-cover {
    display: block;
}

.img-cover img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

ul[app-type="ul"] {
    counter-reset: linum;
    list-style: none;
    padding: 0;
}

ul[app-type="ul"]>li {
    counter-increment: linum;
    word-wrap: break-word;
    margin-bottom: 15px;
}

ul[app-type="ul"]>li::before {
    float: left;
    clear: left;
    contain: content;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding: 0!important;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    font-size: 15px;
    margin-right: 0px;
}

ul[app-type="ul"][data-order="decimal"]>li::before {
    content: counter(linum, decimal);
}

ul[app-type="ul"][data-order="upper-alpha"]>li::before {
    content: counter(linum, upper-alpha);
}

ul[app-type="ul"][data-order="lower-alpha"]>li::before {
    content: counter(linum, lower-alpha);
}

ul[app-type="ul"][data-order="upper-roman"]>li::before {
    content: counter(linum, upper-roman);
}

ul[app-type="ul"][data-order="lower-roman"]>li::before {
    content: counter(linum, lower-roman);
}

ul[app-type="ul"][data-order="square"]>li::before {
    content: counter(linum, square);
}

ul[app-type="ul"][data-order="disc"]>li::before {
    content: counter(linum, disc);
}

#header {
    z-index: 99999999;
}

app-section>.ui-resizable-handle.ui-resizable-s {
    height: 29px;
    cursor: s-resize;
    position: absolute;
    bottom: -15px;
    right: 50px;
    margin: 0 auto;
    width: 30px;
    background: url(/assets/img/arrow-resize.png) !important
}

app-element.ui-draggable-disabled .ui-resizable-handle {
    display: none;
}

app-element {
    .ui-resizable-handle {
        z-index: 90;
        display: block;
        background-color: #00e5ff;
        border: 2px solid #fff;
        height: 10px;
        width: 10px;
        overflow: visible;
        position: absolute;
        -moz-border-radius: 1px !important;
        border-radius: 1px !important;
        -moz-box-shadow: 0 0 2px rgba(13, 26, 44, 0.12), 0 1px 1px rgba(13, 26, 44, 0.24);
        box-shadow: 0 0 2px rgba(13, 26, 44, 0.12), 0 1px 1px rgba(13, 26, 44, 0.24);
    }
    .ui-resizable-handle::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        width: 21px;
        height: 21px;
        margin-left: -7px;
        margin-top: -11px;
        z-index: inherit;
    }
    .ui-resizable-handle.ui-resizable-n,
    .ui-resizable-handle.ui-resizable-s {
        left: 50%;
        margin-left: -5px;
    }
    .ui-resizable-handle.ui-resizable-n {
        top: -5px;
        cursor: n-resize;
    }
    .ui-resizable-handle.ui-resizable-s {
        bottom: -5px;
        cursor: s-resize;
    }
    .ui-resizable-handle.ui-resizable-e,
    .ui-resizable-handle.ui-resizable-w {
        top: 50%;
        margin-top: -5px;
    }
    .ui-resizable-handle.ui-resizable-e {
        right: -5px;
        cursor: e-resize;
    }
    .ui-resizable-handle.ui-resizable-w {
        left: -5px;
        cursor: w-resize;
    }
    .ui-resizable-handle.ui-resizable-nw {
        left: -5px;
        top: -5px;
        cursor: nw-resize;
    }
    .ui-resizable-handle.ui-resizable-sw {
        left: -5px;
        bottom: -5px;
        cursor: sw-resize;
    }
    .ui-resizable-handle.ui-resizable-se {
        right: -5px;
        bottom: -5px;
        cursor: se-resize;
    }
    .ui-resizable-handle.ui-resizable-ne {
        right: -5px;
        top: -5px;
        cursor: ne-resize;
    }
}

.widget-container {
    height: 100%;
    width: 960px;
    margin: 0 auto;
}

.cdk-overlay-container {
    z-index: 99999;
}

.cdk-overlay-pane {
    margin-left: auto !important;
    margin-right: auto!important
}

#v-ruler {
    pointer-events: auto;
    position: fixed;
    top: 123px;
    z-index: 100;
    padding-left: 23px;
    width: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, .7);
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

#v-ruler *,
#h-ruler * {
    cursor: copy;
}

#v-ruler .numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url(/assets/img/ruler_horizontal.png) repeat-x -23px top;
    height: 22px;
}

#v-ruler .numbers .number {
    display: inline-block;
    width: 100px;
    text-align: left;
    padding: 5px 0 0 5px;
    font-size: 10px;
    color: #666;
    text-indent: -19px
}
#v-ruler .numbers .number:first-child{text-indent: -15px;}

// #v-ruler .numbers .number:last-child {
//     width: auto;
// }

#h-ruler {
    height: 100%;
    pointer-events: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    padding-top: 23px;
    background-color: rgba(255, 255, 255, .7);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

#h-ruler .numbers {
    background: url(/assets/img/ruler_vertical.png) repeat-y left -23px;
    width: 22px;
    height: 100%;
    overflow: hidden;
}

#h-ruler .numbers .number {
    display: block;
    height: 100px;
    width: 10px;
    text-align: right;
    padding: 1px 0 0 13px;
    font-size: 10px;
    color: #666;
    word-break: break-all;
    line-height: 1.4;
    transform: translateY(-23px);
}
#h-ruler .numbers .number:first-child{visibility: hidden}

app-widget-edit-section {
    display: none
}

app-section:hover app-widget-edit-section {
    display: block;
}
